<% if @statuses.size > 0 %>
  <section id="last_status">
    <img alt="status_image" />
    <p><%= @statuses.first.message  %></p>
    <sub><%= @statuses.first.created_at.strftime('%Y/%m/%d - %H:%M:%S')  %></sub>
    <%= link_to "Update status", new_status_message_path %>
  </section>
  <section id="recent_status">
    <ul>
      <% @statuses[1..].each do |s| %>
        <li id="<%= s.id %>">
          <span><%= s.message %></span>
          <sub><%= s.created_at.strftime('%Y/%m/%d - %H:%M:%S') %></sub>
        </li>
      <% end %>
    </ul>
  </section>
<% else %>
  <section id="no_status">
    <img alt="no_status_image" />
    <p>No status available yet</p>
    <%= link_to "Update status", new_status_message_path %>
  </section>
<% end %>
